/* breadcrumb style */

.breadcrumb {
    margin: 10px 5% 0 5%;
}

.breadcrumb-text {
    font-size: 90%;
    color: $lighter-grey;
    margin-right: 15px;
}

.prev-category {
    font-weight: 900;
    color: $lighter-grey;
    &:hover {
        color: $medium-grey;
    }
}

.current-category {
    color: $light-blue;
    font-weight: 900;
    &:hover {
        color: $darker-blue;
    }
}