/* cart style */

.cart-menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100%;
    background: $white;
    overflow-y: scroll;
    ul {
        width: 100%;
        float: left;
    }    
}

.btn-close-cart {
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    background-color: $white;
    cursor: pointer;
    margin: 6% 0 0 5%;
    font-size: 115%;
    color: $medium-grey;
}
.cart-title {
    text-align: center;
    font-weight: 900;
    font-size: 120%;
    margin: 25px 0 45px 0;
}

.cart-items-group {
    margin-top: 0px;
}

.cart-item {
    margin: 10px 0;
    margin-left: 35px;
    font-size: 80%;
    a {
        color: $lighter-grey;
        font-size: 130%;
        display: grid;
        grid-template-columns: 65% 20%;
        grid-gap: 5%;
    }
    &:hover {
        color: $medium-grey;
    }
}

.item-name {
    grid-column-start: 1;
}

.item-price {
    grid-column-start: 2;
}

.cart-buy {
    width: 100%;
    margin: 80px 0;
    text-align: center;
    input {
        border: $medium-grey solid 0px;
        border-radius: 5px;
        padding: 7px 15px;
        background-color: $light-green;
        font-weight: 900;
        color: $white;
        border-bottom: 2px solid $dark-grey;
    }
}

.cart-total {
    float: right;
    margin-right: 15%;
    color: $lighter-grey;
}

.cart-footer-title {
    margin: 100px 0;
}