@media screen and (min-width: 580px){
    .footer {
        height: 65px;
        grid-template-columns: 25% 70%;
        .footer-text {
            padding: 0;
            margin: 25px 0 0 20px;
            text-align: left;
        }
        .footer-logo {
            text-align: right;
            padding: 0;
            img {
                height: 35px;
                margin: 15px 20px 0 0;
            }
        }
    }
    .footer-color {
        width: 100%;
        height: 60px;
        background-color: #0F4156;
    }
}