/* footer style */

.footer {
    background-color: $light-blue;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 0px;
}

.footer-logo {
    background-color: $darker-blue;
    margin: 0;
    bottom: 0;
    left: 0;
    img {
        margin: 10% 15%;
        grid-column-start: 1;
    }
}

.footer-text {
    text-align: center;
    padding: 12% 10px;
    font-size: 80%;
    color: $white;
    grid-column-start: 2;
}