@media screen and (max-width: 1250px) and (min-width: 830px){

    .container{
        margin: 0 5%;
    }
    .product-title-text {
        font-size: 150%;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .recommended-products-list {
        width: 100%;
    }
    
    .freight-3 {
        margin-right: 5px;
    }
}

@media screen and (max-width: 830px) and (min-width: 580px){
    
    .cart-menu, .nav-bar, .responsive-header, .search-bar, .mid-freight {
        display: block;
    }

    .desktop-header, .cart-icon, .freight-input {
        display: none;
    }

    .container{
        margin: 0 5%;
    }

    .header {
        height: 60px;
    }

    .logo-img {
        width: 100px;
        position: relative;
        left: -50px;
    }
    
    .btn-menu {
        margin: 1% 0 0 2%;
    }

    .btn-cart {
        margin: 1% 2% 0 0;
    }

    .cart-menu, .nav-bar {
        z-index: 1;
    }

    .product-info {
        top: 120px;
    }

    .product-title-text {
        font-size: 100%;
        line-height: 25px;
        margin: 0 0 10px 10px;
    }

    .search-bar-position {
        margin-top: 75px;
    }

    .mid-freight {
        margin: 5px 5%;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: $light-blue;
        margin: 15px 0;
        font-size: 80%;
        display: grid;
        input {
            box-shadow: 0px 2px 5px $dark-grey;
            padding: 7px;
            border-radius: 5px;
        }
        .btn-freight {
            padding: 10px 25px 10px 25px;
        }
        .freight-3 {
            width: 100px;
            margin-left: 15px;
            margin-right: 5px;
            padding: 10px 25px 10px 25px;
        }
        .freight-5{
            width: 50%;
            padding: 10px 25px 10px 25px;
        }
    }
    .recommended-products-list {
        grid-template-columns: 33% 33% 33%;
    }

    .recommended-products-list {
        width: 100%;
        padding: 0 5%;
    }
}