@media screen and (min-width: 580px){
    .modal {
        max-width: 250px;
        height: 300px;
        position: absolute;
        top: 250px;
        left: 50%;
        transform: translate(-50%, -50%);
        ::-webkit-scrollbar {
            display: none; // Safari and Chrome
        }
        .modal-body{
            padding: 30px 0;
        }
        .modal-btn {
            margin-bottom: 0
        }
    }
}