/* modal style */

.modal-background {
    background-color: rgba(0, 0, 0, .2);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    opacity: 1;
    animation-name: show-modal;
    animation-duration: .5s;
}

.modal {
    text-align: center;
}

.modal-body {
    background-color: $white;
    padding: 25px 0;
    margin: 0 auto;
    width: 95%;
    overflow-y: scroll;
    min-height: 350px;
    margin-top: 25%;
    border-radius: 5px;
}

.modal-sucess-icon img {
    width: 100px;
}

.modal-text {
    font-weight: 900;
    color: $light-blue;
    margin-top: 30px;
    padding: 0 45px;
}

.modal-btn {
    margin: 45px 0;
}

.close-modal-btn {
    color: $white;
    background-color: $darker-blue;
    padding: 10px 45px;
    border-radius: 5px;
    font-weight: 900;
    &:hover {
        background-color: $dark-blue;
        cursor: pointer;
    }
}