/* nav-bar style */

.nav-bar{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100%;
    background: $white;
    overflow-y: scroll;
    ul {
        width: 100%;
        float: left;
        text-align: center;
    }
}

.btn-close {
    width: 30px;
    height: 30px;
    float: right;
    text-align: center;
    background-color: $white;
    cursor: pointer;
    margin: 6% 5% 0 0;
    font-size: 115%;
    color: $medium-grey;
}

.menu-btn-group {
    margin-top: 40px;
}

.menu-link {
    margin: 15px 0;
    :nth-child(2) {
        margin-bottom: 30px;
    }
    a {
        color: $lighter-grey;
        font-size: 130%;
    }
    a:hover {
        color: $medium-grey;
    }
}

.menu-sale-link {
    padding: 25px 0;
    a {
        font-weight: 900;
        color: $light-blue;
        font-size: 160%;
        &:hover {
            color: $darker-blue;
        }
    }
}

.menu-input{
    margin: 10% 5%;
    padding: 4px;
    height: 35px;
    border-radius: 5px;
    border: $ice-white solid .5px;
    background: $white;
    box-shadow: .5px 1px 2px $medium-grey;
    i {
        color: $light-grey;
        margin: 5px;
        float: left;
        &:hover {
            color: $medium-grey;
        }
    }
    input {
        background-color: $white;
        width: 90%;
        float: right;
        margin-top: 4px;
        &::placeholder {
            color: $light-grey;
        }
    }
}

.menu-logo {
    margin: 75px 0;
}