/* product information style */

.product-title-text {
    margin: 15px 5%;;
    color: $lighter-grey;
    font-size: 100%;
}

.product-img img {
    max-width: 90%;
    width: 600px;
    margin: 0 5%;
}

.product-thumb-img {
    margin: 15px 5% 0 5%;
    img {
        max-width: 120px;
    }
    
}

/* price style */

.product-price{
    margin: 5% 5%;
    background-color: $yellowish-white;
    padding: 5%;
}

.full-price, .deal-price {
    color: $lighter-grey;
}

.deal-number {
    color: $light-blue;
    font-weight: 900;
    font-size: 160%;
}

.product-buy {
    margin-top: 15px;
}

.btn-buy {
    border: $medium-grey solid 0px;
    border-radius: 5px;
    padding: 7px 15px;
    background-color: $light-green;
    font-weight: 900;
    color: $white;
    border-bottom: 2px solid $dark-grey;
    cursor: pointer;
    &:hover{
        background-color: $dark-green;
    }
}

/* freight style */

.freight {
    display: inline-block;
    max-width: 100%;
}

.freight-input {
    margin: 5px 5%;
    padding: 15px 15px;
    border-radius: 5px;
    background-color: $light-blue;
    max-width: 100%;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.freight-5 {
    width: 65%;
    padding: 7px 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px $dark-grey;
}

.freight-3 {
    width: 30%;
    padding: 7px 7px;
    border-radius: 5px;
    margin-left: 5%;
    margin-bottom: 15px;
    box-shadow: 0px 2px 5px $dark-grey;
}

.btn-freight {
    padding: 7px 20px;
    border-radius: 5px;
    margin-left: 5px;
    float: right;
    font-weight: 900;
    background-color: $darker-blue;
    color: $white;
    font-size: 90%;
    box-shadow: 0px 2px 5px $dark-grey;
    &:hover {
        background-color: $dark-blue;
        cursor: pointer;
    }
}

.freight-text {
    font-weight: 900;
    color: $white;
    font-size: 90%;
}

/* product description style */

.product-description {
    margin: 15px 5%;
}

.description-title {
    text-align: center;
    color: $darker-blue;
    margin: 30px 0;
}

.description-text {
    color: $lighter-grey;
    margin: 15px 0;
    p:nth-child(1) {
        margin-bottom: 15px;
    }
}
