/* recommended products style */

.recommended-product{
    margin: 5% 5%;
    background-color: $yellowish-white;
    padding: 2.5%;
    font-size: 80%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 5px;
}

.recommended-product-img img {
    width: 95%;
    height: 100%;
    object-fit: cover;
}

.recommended-product-title {
    color: $lighter-grey;
    margin-bottom: 15px;
    a {
        color: $light-grey;
        &:hover{
            color: $medium-grey;
        }
    }
}