/* search bar */

.search-bar-position {
    border: 0 solid $lighter-grey;
    border-radius: 5px;
    box-shadow: 0px 1px 2px $lighter-grey;
    background-color: $white;
    color: $medium-grey;
    margin-top: 20%;
    padding: 2px;
}

.search-bar {
    margin: 0px 4%;
    width: 92%;
    padding: 5px;
    i {
        color: $medium-grey;
        font-size: 120%;
        margin: 6px 10px 0 10px;
    }
    input {
        font-size: 95%;
        width: 80%;
        padding: 5px 0 8px 0;
        &::placeholder{
            color: $light-grey;
        }
    }
}